name: nlp-env
channels:
  - pytorch
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - cpuonly
  - numpy
  - matplotlib
  - opencv
  - pip
  - pip:
    - mitdeeplearning
    - jupyter
    - ipykernel
