name: nlp-env
channels:
  - pytorch
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - cpuonly
  - matplotlib
  - pip
  - pip:
    - numpy>=2.2
    - opencv-python-headless
    - mitdeeplearning
    - jupyter
    - ipykernel
